/* A Modern CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* styles for start page */
body,
html {
  min-height: 100%;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  background-attachment: fixed;
  background-size: cover;

  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  flex-grow: 1;
  max-width: 500px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.title-section {
  margin-bottom: 20px;
}

.title {
  font-size: 3.5rem;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  animation: fadeInTitle 1.5s ease-out;
}

.tagline {
  font-size: 1.2rem;
  color: #ffdb58;
  font-weight: 700;
  margin: 0 0 40px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: fadeInTagline 2s ease-out 0.5s forwards; /* Fade in with a delay */
}

.input-section {
  margin: 20px 0;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1rem;
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

.input-box input:focus {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.input-box label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  color: #555;
  pointer-events: none;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
  top: 0;
  left: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  background-color: #ff7eb3;
  padding: 2px 10px;
  border-radius: 10px;
}

.start-btn,
.restart-btn {
  background: #ff7eb3;
  padding: 15px 40px;
  color: #ffdb58;

  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: bold;

  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px 0;
}

.start-btn:hover,
.restart-btn:hover {
  background: #ff4a9a;
  transform: scale(1.05);
}

.start-btn:active,
.restart-btn:active {
  transform: scale(1);
}

.footer {
  margin-top: 20px;
}

.footer p {
  color: white;
  font-size: 0.8em;
  opacity: 0.7;
}

/* styles for game-page */
:root {
  --cell-size: 150px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

.game-page {
  width: 100vw;
  height: 100vh;
  text-align: center;

  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-header {
  margin: 0 40px 10px;
  position: relative;
}

.game-title {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;

  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;

  padding: 10px 40px;
  display: inline-block;

  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.game-header {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

.turn-indicator {
  margin: 20px 0;
  padding: 15px 20px;
}

#turnIndicatorText {
  font-size: 1.5em;
  font-weight: 700;
  color: #ffdb58;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.turn-indicator.active #turnIndicatorText {
  color: #ffd700;
  transform: scale(1.05);
}

.turn-indicator.glow #turnIndicatorText {
  animation: glowEffect 1s ease forwards;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  min-width: 600px;
  margin: 10px 0 60px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
  border-bottom: none;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
  background-color: black;
}

.game-board.x .cell:not(.x):not(.o):hover::before,
.game-board.x .cell:not(.x):not(.o):hover::after {
  background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.game-board.x .cell:not(.x):not(.o):hover::before,
.game-board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;

  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
}

.cell.x::before,
.game-board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.game-board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.game-board.o .cell:not(.x):not(.o):hover::before,
.game-board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.cell.o::before {
  background-color: black;
}

.game-board.o .cell:not(.x):not(.o):hover::before {
  background-color: lightgray;
}

.cell.o::before,
.game-board.o .cell:not(.x):not(.o):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.o::after,
.game-board.o .cell:not(.x):not(.o):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #9088f0;
}

.cell.winning {
  animation: winningHighlight 1s infinite alternate; /* Flashing effect for winning line */
}

.scoreboard-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 20px;

  min-width: 700px;
  margin-bottom: 40px;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.scoreboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  padding: 15px 10px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.scoreboard p {
  display: flex;

  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* Winning message overlay styles */
.winning-message-overlay {
  position: fixed;
  top: 35%;
  bottom: 35%;
  left: 0;
  backdrop-filter: blur(10px);

  width: 100%;
  height: 30vh;
  padding: 50px;
  background-color: #171857;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.inactive {
  pointer-events: none;
  opacity: 0.6;
}

#message-btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;

  padding: 10px 20px;
  max-width: 350px;
}

#congratulation {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffdb58;

  text-transform: uppercase;
  letter-spacing: 3px;
  opacity: 0.9;
}

#winning-text {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 20px;

  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.quit-btn {
  background-color: #ff4a9a;
  color: #ffffff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.next-round-btn {
  background-color: #4caf50;
  color: #ffffff;
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.quit-btn:hover {
  background-color: #ff2a70;
  transform: translateY(-2px);
}

.next-round-btn:hover {
  background-color: #43a047;
  transform: translateY(-2px);
}

.quit-btn:active,
.next-round-btn:active {
  transform: translateY(0);
}

/* for screen less than 500px */
@media screen and (max-width: 700px) {
  :root {
    --cell-size: 100px;
  }

  .game-board {
    min-width: 350px;
  }

  .scoreboard-container {
    min-width: 350px;
  }
}

/* Animations */
@keyframes fadeInTitle {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInTagline {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowEffect {
  0% {
    text-shadow: 0 0 5px rgba(255, 219, 88, 0.3),
      0 0 10px rgba(255, 219, 88, 0.2);
  }
  100% {
    text-shadow: 0 0 20px rgba(255, 219, 88, 0.8),
      0 0 30px rgba(255, 219, 88, 0.6);
  }
}

@keyframes winningHighlight {
  0% {
    background: #ffdb58;
  }
  100% {
    background: #ffd700;
  }
}
